[Unit]
Description=IOT LoRa Gateway Packet Forwarder
After=multi-user.target

[Service]
Type=idle
ExecStart=/opt/iot-lora-gateway/start.sh

[Install]
WantedBy=multi-user.target
